In [3]:
Data = {"1001": {"Name": "Bulb", "Price": 60.0, "quantity": 25, "category": "Electronics", "discount": 2},
       "1002": {"Name": "Tube Light", "Price": 45.0, "quantity": 25, "category": "Electronics", "discount": 4}, 
       "1003": {"Name": "Wire", "Price": 30.0, "quantity": 25, "category": "Electrical", "discount": 3},
       "1004": {"Name": "Iron", "Price": 550.0, "quantity": 25, "category": "Electrical", "discount": 10},
       "1005": {"Name": "Blender", "Price": 749.0, "quantity": 15, "category": "Electronics", "discount": 13}, 
       "1006": {"Name": "Toster", "Price": 299.0, "quantity": 25, "category": "Electronics", "discount": 20}, 
       "1007": {"Name": "Torch", "Price": 50.0, "quantity": 25, "category": "Electronics", "discount": 5}, 
       "1008": {"Name": "Kettle", "Price": 679.0, "quantity": 25, "category": "Electronics", "discount": 15}, 
       "1009": {"Name": "Stove", "Price": 999.0, "quantity": 25, "category": "Electronics", "discount": 25}, 
       "1010": {"Name": "Swicth", "Price": 49.0, "quantity": 50, "category": "Electrical", "discount": 5},
       "1011": {"Name": "Biscuit", "Price": 10.0, "quantity": 25, "category": "Eatables", "discount": 4},
       "1012": {"Name": "Oil", "Price": 149.0, "quantity": 48, "category": "Eatables", "discount": 10}, 
       "1013": {"Name": "5-Star", "Price": 10.0, "quantity": 40, "category": "Chocolate", "discount": 2},
       "1014": {"Name": "Mixture", "Price": 89.0, "quantity": 35, "category": "Eatables", "discount": 12},
       "1015": {"Name": "Comb", "Price": 29.0, "quantity": 25, "category": "Cosmetic", "discount": 0},
       "1016": {"Name": "Hair oil", "Price": 79.0, "quantity": 30, "category": "Cosmetic", "discount": 10},
       "1017": {"Name": "Face Wash", "Price": 99.0, "quantity": 25, "category": "Cosmetic", "discount": 9},
       "1018": {"Name": "Scrub", "Price": 59.0, "quantity": 20, "category": "Cosmetic", "discount": 14},
       "1019": {"Name": "Lotion", "Price": 110.0, "quantity": 30, "category": "Cosmetic", "discount": 18},
       "1020": {"Name": "Rice", "Price": 80.0, "quantity": 34, "category": "Eatables", "discount": 10},
       "1021": {"Name": "Fruits", "Price": 150.0, "quantity": 40, "category": "Eatables", "discount": 15},
       "1022": {"Name": "Stationary", "Price": 260.0, "quantity": 25, "category": "Education", "discount": 15},
       "1023": {"Name": "Milk", "Price": 40.0, "quantity": 39, "category": "Drinks", "discount": 0},
       "1024": {"Name": "CocaCola", "Price": 99.0, "quantity": 30, "category": "Drinks", "discount": 5 },
       "1025": {"Name": "Sprits", "Price": 89.0, "quantity": 15, "category": "Drinks", "discount": 7},
       "1026": {"Name": "Alcohol", "Price": 120.0, "quantity": 49, "category": "Drinks", "discount": 25},
       "1027": {"Name": "Vegetables", "Price": 99.0, "quantity": 36, "category": "Eatables", "discount": 10},
       "1028": {"Name": "Tea", "Price": 40.0, "quantity": 40, "category": "Eatables", "discount": 9},
       "1029": {"Name": "Books", "Price": 199.0, "quantity": 5, "category": "Education", "discount": 24},
       "1030": {"Name": "Coffee", "Price": 69.0, "quantity": 10, "category": "Drinks", "discount": 5}}

In [5]:
import json
j = json.dumps(Data)

fd = open("Data.json",'w')

fd.write(j)

fd.close()

In [6]:
fd = open("Data.json", 'r')
t = fd.read()
fd.close()

In [7]:
Data['1001']["Price"] = 200
print(Data['1001']["Price"])

200

In [9]:
import json
fd = open("tdx.txt",'r')

t = fd.read()

fd.close()
Data = json.loads(t)
Data

{'1001': {'Name': 'Bulb',
  'Price': 60.0,
  'category': 'Electronics',
  'discount': 2,
  'quantity': 25},
 '1002': {'Name': 'Tube Light',
  'Price': 45.0,
  'category': 'Electronics',
  'discount': 4,
  'quantity': 25},
 '1003': {'Name': 'Wire',
  'Price': 30.0,
  'category': 'Electrical',
  'discount': 3,
  'quantity': 25},
 '1004': {'Name': 'Iron',
  'Price': 550.0,
  'category': 'Electrical',
  'discount': 10,
  'quantity': 25},
 '1005': {'Name': 'Blender',
  'Price': 749.0,
  'category': 'Electronics',
  'discount': 13,
  'quantity': 15},
 '1006': {'Name': 'Toster',
  'Price': 299.0,
  'category': 'Electronics',
  'discount': 20,
  'quantity': 25},
 '1007': {'Name': 'Torch',
  'Price': 50.0,
  'category': 'Electronics',
  'discount': 5,
  'quantity': 25},
 '1008': {'Name': 'Kettle',
  'Price': 679.0,
  'category': 'Electronics',
  'discount': 15,
  'quantity': 25},
 '1009': {'Name': 'Stove',
  'Price': 999.0,
  'category': 'Electronics',
  'discount': 25,
  'quantity': 25},
 '1010': {'Name': 'Swicth',
  'Price': 49.0,
  'category': 'Electrical',
  'discount': 5,
  'quantity': 50},
 '1011': {'Name': 'Biscuit',
  'Price': 10.0,
  'category': 'Eatables',
  'discount': 4,
  'quantity': 25},
 '1012': {'Name': 'Oil',
  'Price': 149.0,
  'category': 'Eatables',
  'discount': 10,
  'quantity': 48},
 '1013': {'Name': '5-Star',
  'Price': 10.0,
  'category': 'Chocolate',
  'discount': 2,
  'quantity': 40},
 '1014': {'Name': 'Mixture',
  'Price': 89.0,
  'category': 'Eatables',
  'discount': 12,
  'quantity': 35},
 '1015': {'Name': 'Comb',
  'Price': 29.0,
  'category': 'Cosmetic',
  'discount': 0,
  'quantity': 25},
 '1016': {'Name': 'Hair oil',
  'Price': 79.0,
  'category': 'Cosmetic',
  'discount': 10,
  'quantity': 30},
 '1017': {'Name': 'Face Wash',
  'Price': 99.0,
  'category': 'Cosmetic',
  'discount': 9,
  'quantity': 25},
 '1018': {'Name': 'Scrub',
  'Price': 59.0,
  'category': 'Cosmetic',
  'discount': 14,
  'quantity': 20},
 '1019': {'Name': 'Lotion',
  'Price': 110.0,
  'category': 'Cosmetic',
  'discount': 18,
  'quantity': 30},
 '1020': {'Name': 'Rice',
  'Price': 80.0,
  'category': 'Eatables',
  'discount': 10,
  'quantity': 34},
 '1021': {'Name': 'Fruits',
  'Price': 150.0,
  'category': 'Eatables',
  'discount': 15,
  'quantity': 40},
 '1022': {'Name': 'Stationary',
  'Price': 260.0,
  'category': 'Education',
  'discount': 15,
  'quantity': 25},
 '1023': {'Name': 'Milk',
  'Price': 40.0,
  'category': 'Drinks',
  'discount': 0,
  'quantity': 39},
 '1024': {'Name': 'CocaCola',
  'Price': 99.0,
  'category': 'Drinks',
  'discount': 5,
  'quantity': 30},
 '1025': {'Name': 'Sprits',
  'Price': 89.0,
  'category': 'Drinks',
  'discount': 7,
  'quantity': 15},
 '1026': {'Name': 'Alcohol',
  'Price': 120.0,
  'category': 'Drinks',
  'discount': 25,
  'quantity': 49},
 '1027': {'Name': 'Vegetables',
  'Price': 99.0,
  'category': 'Eatables',
  'discount': 10,
  'quantity': 36},
 '1028': {'Name': 'Tea',
  'Price': 40.0,
  'category': 'Eatables',
  'discount': 9,
  'quantity': 40},
 '1029': {'Name': 'Books',
  'Price': 199.0,
  'category': 'Education',
  'discount': 24,
  'quantity': 5},
 '1030': {'Name': 'Coffee',
  'Price': 69.0,
  'category': 'Drinks',
  'discount': 5,
  'quantity': 10}}

In [18]:
choice = int(input("Enter your option :"))
if choice == 1:
  print('**********************************')
  print("Items available in Your_Market")
  
  print('**********************************')
  
  print('Enter the Item_Id and Quantity of item to purchase:')
  pur={}
  for i in range (0,5):
    n=input()
    m=n.split(' ')
    pur[m[0]] = int(m[1])



if choice == 2:
  print("Buy the items of your choice")

  amount=0
  for i in pur:    
    if(i in Data.keys()):
        print('You ordered {} {}'.format(pur[i],Data[i]['Name']))
        print('Cost {} '.format(pur[i]*Data[i]['Price']))
        amount+=pur[i]*Data[i]['Price']
  print('Total bill : ',amount)

  total={}
  s=1
  for i in pur:
    if(i in Data.keys()):
        sys={}
        sys['item'] = Data[i]['Name']
        sys['quantity'] = pur[i]
        sys['Price'] = Data[i]['Price']
        sys['SP'] = Data[i]['Price']*(1.0 - Data[i]['discount']/100.0)
        sys['total'] = sys['SP']*pur[i]
        total[s] = sys
        s+=1
  print(total)
if choice == 3 :
  print("Exit")

Enter your option :2
Buy the items of your choice
You ordered 10 Torch
Cost 500.0
You ordered 9 Sprits
Cost 801.0
You ordered 7 Comb
Cost 203.0
You ordered 8 Coffee
Cost 552.0
You ordered 2 Stove
Cost 1998.0
Total bill :  4054.0
{1: {'item': 'Torch', 'quantity': 10, 'Price': 50.0, 'SP': 47.5, 'total': 475.0}, 2: {'item': 'Sprits', 'quantity': 9, 'Price': 89.0, 'SP': 82.77, 'total': 744.93}, 3: {'item': 'Comb', 'quantity': 7, 'Price': 29.0, 'SP': 29.0, 'total': 203.0}, 4: {'item': 'Coffee', 'quantity': 8, 'Price': 69.0, 'SP': 65.55, 'total': 524.4}, 5: {'item': 'Stove', 'quantity': 2, 'Price': 999.0, 'SP': 749.25, 'total': 1498.5}}

In [14]:
amount=0
for i in pur:    
  if(i in Data.keys()):
    print('You Have Ordered:- {} {}'.format(pur[i],Data[i]['Name']))
    print('Cost {} '.format(pur[i]*Data[i]['Price']))
    amount+=pur[i]*Data[i]['Price']
print('Total billing Amount is:- ',amount)

You Have Ordered:- 10 Torch
Cost 500.0
You Have Ordered:- 9 Sprits
Cost 801.0
You Have Ordered:- 7 Comb
Cost 203.0
You Have Ordered:- 8 Coffee
Cost 552.0
You Have Ordered:- 2 Stove
Cost 1998.0
Total billing Amount is:-  4054.0

In [19]:
choice = int(input("Enter your option :"))
if choice == 1:
  print('**********************************')
  print("Items available in Your_Market")
  
  print('**********************************')
  
  print('Enter the Item_Id and Quantity of item to purchase:')
  pur={}
  for i in range (0,5):
    n=input()
    m=n.split(' ')
    pur[m[0]] = int(m[1])



if choice == 2:
  print("Buy the items of your choice")

  amount=0
  for i in pur:    
    if(i in Data.keys()):
        print('You ordered {} {}'.format(pur[i],Data[i]['Name']))
        print('Cost {} '.format(pur[i]*Data[i]['Price']))
        amount+=pur[i]*Data[i]['Price']
  print('Total bill : ',amount)

  total={}
  s=1
  for i in pur:
    if(i in Data.keys()):
        sys={}
        sys['item'] = Data[i]['Name']
        sys['quantity'] = pur[i]
        sys['Price'] = Data[i]['Price']
        sys['SP'] = Data[i]['Price']*(1.0 - Data[i]['discount']/100.0)
        sys['total'] = sys['SP']*pur[i]
        total[s] = sys
        s+=1
  print(total)
if choice == 3 :
  print("Exit")

Enter your option :2
Buy the items of your choice
You ordered 10 Torch
Cost 500.0
You ordered 9 Sprits
Cost 801.0
You ordered 7 Comb
Cost 203.0
You ordered 8 Coffee
Cost 552.0
You ordered 2 Stove
Cost 1998.0
Total bill :  4054.0
{1: {'item': 'Torch', 'quantity': 10, 'Price': 50.0, 'SP': 47.5, 'total': 475.0}, 2: {'item': 'Sprits', 'quantity': 9, 'Price': 89.0, 'SP': 82.77, 'total': 744.93}, 3: {'item': 'Comb', 'quantity': 7, 'Price': 29.0, 'SP': 29.0, 'total': 203.0}, 4: {'item': 'Coffee', 'quantity': 8, 'Price': 69.0, 'SP': 65.55, 'total': 524.4}, 5: {'item': 'Stove', 'quantity': 2, 'Price': 999.0, 'SP': 749.25, 'total': 1498.5}}

In [20]:
js = json.dumps(total)

fd = open("sales.json",'w')

fd.write(js)

fd.close()

In [21]:
fd = open("sales.json", 'r')
t = fd.read()
fd.close()

In [22]:
js = json.dumps(total)

fd = open("sales.txt",'w')

fd.write(js)

fd.close()

In [23]:
fd = open("sales.txt", 'r')
t = fd.read()
fd.close()

In [24]:
t

'{"1": {"item": "Torch", "quantity": 10, "Price": 50.0, "SP": 47.5, "total": 475.0}, "2": {"item": "Sprits", "quantity": 9, "Price": 89.0, "SP": 82.77, "total": 744.93}, "3": {"item": "Comb", "quantity": 7, "Price": 29.0, "SP": 29.0, "total": 203.0}, "4": {"item": "Coffee", "quantity": 8, "Price": 69.0, "SP": 65.55, "total": 524.4}, "5": {"item": "Stove", "quantity": 2, "Price": 999.0, "SP": 749.25, "total": 1498.5}}'

In [25]:
d = json.loads(t)

In [26]:
d

{'1': {'Price': 50.0,
  'SP': 47.5,
  'item': 'Torch',
  'quantity': 10,
  'total': 475.0},
 '2': {'Price': 89.0,
  'SP': 82.77,
  'item': 'Sprits',
  'quantity': 9,
  'total': 744.93},
 '3': {'Price': 29.0,
  'SP': 29.0,
  'item': 'Comb',
  'quantity': 7,
  'total': 203.0},
 '4': {'Price': 69.0,
  'SP': 65.55,
  'item': 'Coffee',
  'quantity': 8,
  'total': 524.4},
 '5': {'Price': 999.0,
  'SP': 749.25,
  'item': 'Stove',
  'quantity': 2,
  'total': 1498.5}}